:root {
  --box-shadow-style: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.category-container {
  box-shadow: var(--box-shadow-style);
  width: 310px;
  height: 100%;
  background-color: #f0f0f0;
}

.category-title {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  margin-left: 10px;
  color: black;
}

.category-list {
  font-size: 15px;
  font-weight: normal;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
  margin-left: 10px;
}
.category-list:hover {
  width: 200px;
  background: linear-gradient(
    135deg,
    #6165db,
    #4b4ed6,
    #0f139b
  ); 
  color: white;
}
.website-logo{
  width:60px;
  margin-left:40px;
  margin-right:10px;
  margin-top:21px;
}
.website-title {
  height:100%;
  margin-right:10px;
  width:120px;
  margin-bottom:15px;
}
.add-button {
  width:251px;
  height:44px;
  background-color: #047857;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block; 
  font-size: 16px;
  border-radius: 4px;
  margin-left:30px;
  margin-top:22px;
}
.add-button:hover{
  background-color: #01684B;
  cursor:pointer;
}

//모달 버튼 css
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.add-category-button {
  background-color: #047857;
  border: none;
  font-size: 10px;
  width: 50px;
  height: 25px;
  color: white;
}

.add-category-button:hover {
  background-color: #01684B;
}

.close-button {
  width: 50px;
  height: 25px;
  background-color: #FFFFFF;
  border-color: #3BBA6F;
  font-size: 10px;
  margin-left: 10px;
  border-width: 1px;
  border-style: solid;
}

.close-button:hover {
  background-color: #F3F3F3;
}