:root {
  --box-shadow-style: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.category-header {
  width: 100%;
  height: 10%;
}

.category-container {
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow-style);
  width: 310px;
  height: 100%;
  background-color: #f0f0f0;
}

.category {
  font-size: 16px;
  color: #64748b;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  width: 100%;
  height: 40%;
}

.category-list {
  margin-right: 20px;
  width: 200px;
  font-size: 15px;
  font-weight: normal;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}
.category-list:hover {
  background: linear-gradient(135deg, #06a375, #047857, #035c49);
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px,
    rgba(0, 0, 0, 0.1) 0px 1px 2px inset;
  transition: all 0.3s ease-in-out;
}
.category_favorite {
  width: 100%;
  height: 40%;
  font-size: 16px;
  color: #64748b;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}

.favorite-icon {
  margin-right: 10px;
  margin-top: 10px;
}
.website-logo {
  width: 60px;
  margin-left: 40px;
  margin-right: 10px;
  margin-top: 21px;
}
.website-title {
  height: 100%;
  margin-right: 10px;
  width: 120px;
  margin-bottom: 15px;
}
.add-button {
  width: 251px;
  height: 44px;
  background-color: #047857;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin-left: 30px;
  margin-top: 22px;
}
.add-button:hover {
  background-color: #01684b;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.add-category-button {
  background-color: #047857;
  border: none;
  font-size: 10px;
  width: 50px;
  height: 25px;
  color: white;
}

.add-category-button:hover {
  background-color: #01684b;
}

.close-button {
  width: 50px;
  height: 25px;
  background-color: #ffffff;
  border-color: #3bba6f;
  font-size: 10px;
  margin-left: 10px;
  border-width: 1px;
  border-style: solid;
}

.close-button:hover {
  background-color: #f3f3f3;
}
.category_footer {
  height: 10%;
  display: flex;
  align-items: center;
  gap: 10px; /* 아이템 사이의 간격 */
  padding: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 왼쪽 정렬 */
  margin-left: 2px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* 원형으로 만듦 */
  margin-left: 20px;
  margin-bottom: 5px;
  object-fit: cover;
}

.user-name,
.user-email {
  color: black; /* 글씨체 색상을 검정으로 설정 */
  margin: 1.5px; /*1.5 */
}

.user-name {
  text-align: left; /* 왼쪽 정렬 */
}

.user-email {
  color: #a0abbb; /* 색상 설정 */
  margin: 0; /* 기본 마진 제거 */
}

.profile-title {
  margin-left: 30px; /* 프로필 제목 왼쪽 여백 조정 */
  margin-bottom: 2%;
  color: black;
  font-size: 18px; /* 적절한 폰트 크기 조정 */
}

.subscribe-btn {
  background-color: #047857;
  border: none;
  color: white;
  font-size: 12px;
  width: 30%;
  height: 5%;
  border-radius: 4px;
  margin-left: 10%;
  cursor: pointer;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  animation: pulse 7s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

.subscribe-btn:hover {
  background-color: #01684b;
}

.logout-btn {
  width: 250px;
  height: 40px;
  background-color: #d9d9d9;
  border: none;
  color: black;
  text-align: center;
  margin-left: 25px;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 4px;
}

.logout-btn svg {
  width: 20px;
}

.logout-btn:hover {
  background-color: #c0c0c0;
  cursor: pointer;
  color: black;
}

.category-container .profile-divider {
  width: 80%;
  height: 1px;
  margin: 10px auto;
}

.crown-icon {
  color: gold;
  margin-left: 5px;
}

.basic-icon {
  color: #cd7f32;
  margin-left: 5px;
}

.standard-icon {
  color: silver;
  margin-left: 5px;
}
