:root {
  --landing-box-shadow-style: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

body {
  background-color: black; 
  margin: 0; 
  overflow-x: hidden; 
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-rolling-ball {
  position: absolute;
  top: 10px; 
  left: -90px;
  width: 50px;
  height: 50px;
  background: radial-gradient(circle at 30% 30%, #fff, #dcdcdc);
  border-radius: 50%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

/*첫번째 페이지*/
.landingPage {
  background: black;
  color: white;
  overflow-x: hidden; 
}

.landing-firstComment {
  font-size: 200px;
  font-weight: 700;
  color: #ccff00;
  text-align: center;
}

.landing-start-btn {
  display:flex;
  justify-content: center; 
  align-items: center; 
  width: 200px;
  height: 60px;
  background-color: black;
  color: white;
  border: 2px solid #ccff00;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 30px;
  margin-top:50px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.landing-start-btn:hover {
  background-color: #ccff00;
  color: black;
  font-weight:bold;
}
.particle {
  width: 10px;
  height: 10px;
  background: #ff66cc;
  border-radius: 9999px;
  position: absolute;
  pointer-events: none; 
}

@keyframes particle-animation {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}
/*두번째 페이지*/
.second-page {
  background-color: black;
  padding: 20px 0;
}
.landing-second-comment {
  font-size: 100px;
  font-weight: 900;
  color: #00FFFF;
  text-align: center;
  animation: tracking-in-contract 3s ease-in-out forwards infinite; 
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 20px;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.landing-second-description{
  color: white;
  font-size: 30px;
  text-align: center;
}

.landing-second-page-emphasize {
  font-size: 50px;
  color: white;
  text-align: center;
  transition: transform 0.3s ease; 
  animation: zoom 1s ease-in-out infinite; 
}

@keyframes zoom {
  0% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.2); 
  }
  100% {
    transform: scale(1); 
  }
}

/* 구분선 */
.landing-divider {
  width: 100%;
  height: 2px;
  background-color: black; 
  margin: 20px 0;
}

#landing-h2 {
  color:#FF8709;
  font-size: 100px;
}
#landing-h3 {
  color: #FEC5FB;
  font-size: 100px;
}

.landing-upper-button {
  width: 200px;
  height: 60px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  cursor: pointer;
  font-size:20px;
}
.landing-upper-button:hover{
  background-color: white;
  color:black;
  font-weight:bold;
}

.landing-arrow {
  color: white;
  font-size: 2vw;
  margin-top:40px;
  animation: landing-moveArrow 2s infinite ease-in-out;
}

@keyframes landing-moveArrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.sort-category-description{
  width:880px;
  margin: 0px;
  height: auto; 
}



.LangingImg3-page{
  animation: slideUp 3s ease-in-out infinite; 
}
.landingImg3-description{
  color: white;
  font-size:30px;
  text-align: center;
  font-weight: bold;
  flex: 1; 
  line-height: 1.8; 
  margin-bottom: 0;
}

.payService{
  width:880px;
  margin: 0px;
  height: auto; 
}

@keyframes slideUp {
  from {
    transform: translateY(20px); 
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1; 
  }
}