@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

:root {
  --box-shadow-style: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
}

.intro-caption {
  font-family: "Jua", sans-serif;
  font-weight: 800;
  font-size: 80px;
  color: black;
  margin-bottom: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 70px; 
  height: 70px;
  margin-right: 20px; 
}

.brand-name {
  font-family: "Jua", sans-serif;
  font-size: 60px; /* 텍스트 크기 조정 */
  font-weight: bold;
}

.login-description {
  font-size: 12px;
}

.highlight {
  color: #325eff;
}

.dark {
  color: black;
  font-size: 65px;
}

.login-description {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.feature-check {
  color: #325eff;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
}
