:root {
  --box-shadow-style: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* 컨테이너: 사이드바와 메인 콘텐츠를 포함 */
.addUrl-button {
  margin-top: 85vh;
  border-radius: 4px;
  box-shadow: var(--box-shadow-style);
  background-color: #047857;
  width: 251px; /* 버튼의 너비 설정 */
  height: 44px; /* 버튼의 높이 설정 */
  color: white;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.addUrl-button:hover {
  box-shadow: var(--box-shadow-style);
  background-color: #01684b;
  cursor: pointer;
}

.container {
  display: flex;
  height: 100vh; /* 화면 전체 높이 */
  width: 100vw; /* 화면 전체 너비 */
}

.main-content {
  flex-grow: 1; /* 남는 공간을 차지하도록 설정 */
  padding: 20px;
  background-color: #f4f4f4;
  color: black;
}

/* 사이드바 기본 스타일 */
.sidebar {
  box-shadow: var(--box-shadow-style);
  height: 100%;
  width: 15%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s ease;
  overflow: hidden;
}

/* 사이드바 열렸을 때의 스타일 */
.sidebar.open {
  box-shadow: var(--box-shadow-style);
  width: 20%;
  height: 100%; /* 사이드바가 열릴 때 너비 */
}

/* 사이드바 내 리스트 스타일 */
.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 20px;
  padding: 10px;
}

/* 버튼 스타일 */
.toggle-button {
  background: none;
  border: none;
  color: black;
  font-size: 24px;
  margin-top: 20px;
  cursor: pointer;
}

.icon {
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(-180deg);
}

.addUrl-floating-button {
  position: fixed;
  bottom: 20px;
  left: 85%; /* 사이드바보다 왼쪽에 고정 */
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000; /* 사이드바보다 위에 */
}

.addUrl-floating-button:hover {
  background-color: #45a049;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f4f4f4;
  color: black;
  height: 100vh;
  overflow-y: auto;
}
