:root {
  --box-shadow-style: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* 전체 화면 */
.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

.container > .main-content {
  background-color: white;
  color: black;
  overflow-y: scroll;
}

.container > .main-content::-webkit-scrollbar {
  display: none;
}

/* 메인 검색 부분 */
.main-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 50px;
  transition: transform 0.3s ease; /* 부드러운 전환 효과 */
}

.main-search-input {
  width: 300px !important;
  height: 30px;
  padding-left: 15px;
  border: 1px solid #ccc;
  font-size: 12px;
  color: black;
  background-color: #f2f3f6;
  transition: all 0.3s ease;
}

.main-search-icon-box {
  width: 40px;
  height: 35px;
  background-color: #2756ff;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  transition: transform 0.3s ease; /* 부드러운 전환 효과 */
}

.main-input-container:hover .main-search-input,
.main-input-container:hover .main-search-icon-box {
  transform: translateY(-3px); /* 두 요소가 함께 위로 이동 */
}

.main-search-input:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  border: 1px solid #2756ff;
}

/* 버튼 스타일 */
.toggle-button {
  background: none;
  border: none;
  color: black;
  font-size: 24px;
  margin-top: 20px;
  cursor: pointer;
}

.icon {
  transition: transform 0.1s ease;
  color: black;
}

.rotated {
  transform: rotate(-180deg);
}

.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 0;
  z-index: 1000;
  background-color: #d9d9d9;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.addUrl-floating-button,
.scrollUp-floating-button {
  width: 100%;
  height: 60px;
  color: black;
  border: none;
  border-radius: 5px;
  display: flex;

  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.addUrl-floating-button {
  background-color: #d9d9d9;
}

.scrollUp-floating-button {
  background-color: #d9d9d9;
}

.addUrl-floating-button:hover,
.scrollUp-floating-button:hover {
  background-color: #e0e0e0;
}
